.colaborador {
    width: 14vw;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 5vw;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: var(--cor-secundaria);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 2vw;
    padding-bottom: 1vw;
}

.colaborador .rodape h4 {
    color: var(--cor-principal);
    font-size: 1vw;
    line-height: 1.5vw;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

.colaborador .rodape h5 {
    font-size: 1vw;
    line-height: 1.5vw;
    color: #212121;
    padding: 0 1vw;
}


@media (max-width:1024px) {
    .colaborador{
        width: 50vw;
        margin-bottom: 5vw;
    }

    .colaborador img {
        width: 25vw;
    }

    .colaborador .rodape {
        padding-top: 10vw;
        padding-bottom: 2vw;
    }

    .colaborador .rodape h4{
        font-size: 4vw;
        padding-bottom: 2vw;
    }

    .colaborador .rodape h5{
        font-size: 3.5vw;
    }
}