.Rodape {
    display: flex;
    justify-content: space-between;
    background: #416449;
    color: #FFF;
    padding: 2vw;
    align-items: baseline;
}

.Rodape img{
    width: 2vw;
}

.Rodape ul li {
    display: inline-block;
    margin-right: 2vw;
}

.Rodape p {
    font-weight: bold;
    font-size: 1vw;
}

@media (max-width: 1024px) {

    .Rodape img{
        width: 5vw;
    }
    .Rodape p {
        font-size: 3vw;
    }
}