.botao{
    background-color: #416449;
    border-radius: 20px;
    font-weight: 700;
    font-size: 18px;
    padding: 24px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 16px 0;
}

.botao:hover{
    color: #ebf564;
}