.time {
    text-align: center;
    padding: 2vw;
}

.time h3 {
    font-size: 2vw;
    border-bottom: 0.5vw solid;
    display: inline-block;
    padding-bottom: 0.5vw;
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
    flex-wrap: wrap;
}


@media (max-width: 1024px) {

    .time h3 {
        font-size: 3.5vw;
    }
    
}


@media (max-width: 420px) {

    .time h3 {
        font-size: 5vw;
    }
    
}