.banner {
    background-color: var(--cor-principal);
    text-align: center;
    width: 100%;
}


.banner img{
    width: 60vw;
}


@media (max-width: 1024px){
    .banner img{
        width: 100vw;
    }
}
