.campo-texto {
    margin: 1.5vw 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 0.5vw;
    font-size: 1.5vw;
}

.campo-texto input {
    background-color: var(--cor-secundaria);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 1.5vw;
    padding: 1.5vw;
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    .campo-texto label {
        font-size: 3vw;
    }

    .campo-texto input {
        font-size: 3vw;
    }
    
    
}