.lista-suspensa label {
    display: block;
    margin-bottom: 0.5vw;
    font-size: 1.5vw;
}

.lista-suspensa select {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 1.5vw;
    padding: 1vw;
    box-sizing: border-box;
}


@media (max-width:1024px){
    .lista-suspensa label{
        font-size: 3vw;
    }

    .lista-suspensa select {
        font-size: 1.5vw;
        padding: 1.5vw;
    }
}

@media (max-width:420px){
.lista-suspensa select {
    font-size: 3vw;
}
}

